<style>

path {
  fill: #4D4D4D;
}

path:hover {
  fill: #A32900;
}

svg {
  margin-left: auto; 
  margin-right: auto;
  display: block;
}

</style>

<script>

var width = 960;
    height = 900;

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("viewBox", "0 0 1100 50");
    

var projection = d3.geo.mercator()
            .center([-73.94, 40.70])
            .scale(225000)
            .translate([(width/2), (height)/2]);

d3.json("coords.json", function(error, ny) {
  
  if (error) return console.error(error);
  ny.features.forEach(function(feature){
    svg.append("path")
      .datum(feature)
      .attr("d", d3.geo.path().projection(projection))
      .attr("name", feature.properties.NTAName);
  })
});



</script>

<div id="main"></div>